
<div class="container-fluid">
  <div class="row">
    
    <div class="col-md-2"></div>
    <div class="col-md-10" >
      <div class="card-body">
        <div class="card">
          <div class="card-body">
            <div class="centopp">
              <table style="border: none">
                <tr>
                  <td>
                    <h4 style="color: #001b85">
                      Consultation d'opposition 
                    </h4>
                  </td>
                  <td>
               
<!-- <ng-template #content let-c="close" let-d="dismiss" class="tets">
	<div class="modal-header">
		<h4 class="modal-title" id="modal-basic-title"></h4>
		<button type="button" class="btn-close" aria-label="Close" (click)="d('Cross click')"></button>
	</div>
	<div class="modal-body">
        <table class="table align-middle mb-0 bg-white">
            <thead class="bg-light">
              <tr>
                <th>N Lig</th>
                <th>Type Bulletin</th>
                <th>Libellé</th>
                
                <th>Date tranche réel</th>
                <th>Retenue</th>
                <th>Rest cap pret</th>
                <th>Validé</th>
                <th>Régler</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let item of listlig">
                <td>
                  <div class="d-flex align-items-center">
                    <div class="ms-3">
                      <p class="">{{item.l_pret}} </p>
                    </div>
                  </div>
                </td>
                <td>
                  <p>{{item.cod_typ_bul}}  </p>
                </td>
              
                <td>{{item.libBulletin}}</td>
                <td>{{item.mois_pret_prevu}}</td>
                <td>
                  <div class="d-flex align-items-center">
                    <div class="ms-3">
                      <p class="">{{item.val_pret}}</p>
                    </div>
                  </div>
                </td>
                <td>
                  <p class="fw-normal mb-1">{{item.cap_rest}}</p>
                </td>
                <td>
                  {{item.val_pret}}
                  
                </td>
                <td> {{item.reg_pret}}</td>
                <td></td>
              </tr>
           
            </tbody>
          </table>>
	</div>
	<div class="modal-footer">
		<button type="button" class="btn btn-outline-dark" (click)="c('Save click')"></button>
	</div>
</ng-template> -->

<!-- <button class="btn btn-lg btn-outline-primary" (click)="open(content)">Rechercher</button> -->
  
                  </td>
                </tr>
              </table>

              <hr />


              <div class="cadre-table-scroll">
                <table class="table table-borderless" style="width: 100%">
                  <tbody>
                    <tr>
                      <td scope="row">Matricule</td>
                      <td>
                         <input
                          type="text"
                          class="form-control"
                          id="inputPassword3"
                          placeholder=""
                          style="font-size: 12px"
                          value= {{token.getUser().matpers}}
                        /> 
                      </td>

                      <td scope="row">Date d'embauche</td>
                      <td >
                         <input
                          type="text"
                          class="form-control"
                          id="inputPassword3"
                          placeholder=""
                          style="font-size: 12px"
                         [value]="perso11.dat_emb"
                        /> 
                      </td>
                    </tr>
                    <tr>
                      <td scope="row">Organisme</td>
                      <td>
                        <input
                          type="text"
                          class="form-control"
                          id="inputPassword3"
                          placeholder=""
                          style="font-size: 12px"
                          value={{token.getUser().cod_soc}}
                        />
                      </td>
                      <td scope="row">Libellé</td>
                      <td>
                        <input
                          type="text"
                          class="form-control"
                          id="inputPassword3"
                          placeholder=""
                          style="font-size: 12px"
                        />
                      </td>
                      <td></td>
                      <td></td>
                    </tr>
                    <tr>
                      <td scope="row">Groupe</td>
                      <td>
                        <input
                          type="text"
                          class="form-control"
                          id="inputPassword3"
                          placeholder=""
                          style="font-size: 12px"
                        />
                      </td>
                      <td scope="row">Type Prêt</td>
                      <td>
                        <input
                          type="text"
                          class="form-control"
                          id="inputPassword3"
                          placeholder=""
                          style="font-size: 12px"
                          value={{list.typ_pret}}
                        />
                      </td>
                      <td scope="row">Libellé</td>
                      <td>
                        <input
                          type="text"
                          class="form-control"
                          id="inputPassword3"
                          placeholder=""
                          style="font-size: 12px"
                          value={{list.ligCession[0].cod_typ_bul}}

                        />
                      </td>
                    </tr>
                    <tr>
                      <td scope="row">Date demande</td>
                      <td>
                        <input
                          type="text"
                          class="form-control"
                          id="inputPassword3"
                          placeholder=""
                          style="font-size: 12px"
                          value={{list.prt_dat_dem}}
                        />
                      </td>
                      <td scope="row">Montant demandé</td>
                      <td>
                        <input
                          type="text"
                          class="form-control"
                          id="inputPassword3"
                          placeholder=""
                          style="font-size: 12px"
                          value={{list.prt_mnt_dem}}
                          
                        />
                      </td>
                      <td scope="row">Montant accordé</td>
                      <td>
                        <input
                          type="text"
                          class="form-control"
                          id="inputPassword3"
                          placeholder=""
                          style="font-size: 12px"
                        />
                      </td>
                    </tr>
                    <tr>
                      <td scope="row">Mois début</td>
                      <td>
                        <input
                          type="text"
                          class="form-control"
                          id="inputPassword3"
                          placeholder=""
                          style="font-size: 12px"
                          value={{list.prt_dat_fin}}

                        />
                      </td>
                      <td scope="row">Membre mentualités payées</td>
                      <td>
                        <input
                          type="text"
                          class="form-control"
                          id="inputPassword3"
                          placeholder=""
                          style="font-size: 12px"
                        />
                      </td>
                      <td scope="row">Mois fin</td>
                      <td>
                        <input
                          type="text"
                          class="form-control"
                          id="inputPassword3"
                          placeholder=""
                          style="font-size: 12px"
                          value={{list.prt_dat_fin}}
                        />
                      </td>
                    </tr>
                    <tr>
                      <td scope="row">Date saisie</td>
                      <td>
                        <input
                          type="text"
                          class="form-control"
                          id="inputPassword3"
                          placeholder=""
                          style="font-size: 12px"
                          value={{list.dat_saisie}}
                        />
                      </td>
                      <td scope="row">Rembouressement mensuel</td>
                      <td>
                        <input
                          type="text"
                          class="form-control"
                          id="inputPassword3"
                          placeholder=""
                          style="font-size: 12px"
                          value={{list.rem_men}}
                        />
                      </td>
                      <td scope="row">Code Prêt</td>
                      <td>
                        <input
                          type="text"
                          class="form-control"
                          id="inputPassword3"
                          placeholder=""
                          style="font-size: 12px"
                          value={{list.ligCession[0].cod_pret}}
                        />
                      </td>
                    </tr>
                    <tr>
                      <td scope="row">Dérniere retenue</td>
                      <td>
                        <input
                          type="text"
                          class="form-control"
                          id="inputPassword3"
                          placeholder=""
                          style="font-size: 12px"
                          value={{list.nbr_retenue}}
                        />
                      </td>
                      <td scope="row">Etat Prêt</td>
                      <td>
                        <input
                          type="text"
                          class="form-control"
                          id="inputPassword3"
                          placeholder=""
                          style="font-size: 12px"
                          value={{list.ligCession[0].nature_etat_pret}}
                          
                        />
                      </td>
                      <td scope="row">Ref session</td>
                      <td>
                        <input
                          type="text"
                          class="form-control"
                          id="inputPassword3"
                          placeholder=""
                          style="font-size: 12px"
                          value={{list.ligCession[0].id_lig_cession}}

                        />
                      </td>
                    </tr>
                    <tr>
                      <td scope="row">Montant remboursé</td>
                      <td>
                        <input
                          type="text"
                          class="form-control"
                          id="inputPassword3"
                          placeholder=""
                          style="font-size: 12px"
                        />
                      </td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td></td>
                    </tr>
                  </tbody>
                </table>
              </div>

              <br />
              <br />
              <table class="table align-middle mb-0 bg-white">
                <thead class="bg-light">
                  <tr>
                    <th>N Lig</th>
                    <th>Type Bulletin</th>
                    <th>Libellé</th>
                    
                    <th>Date tranche réel</th>
                    <th>Retenue</th>
                    <th>Rest cap pret</th>
                    <th>Validé</th>
                    <th>Régler</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let item of listlig">
                    <td>
                      <div class="d-flex align-items-center">
                        <div class="ms-3">
                          <p class="">{{item.l_pret}} </p>
                        </div>
                      </div>
                    </td>
                    <td>
                      <p>{{item.cod_typ_bul}}  </p>
                    </td>
                  
                    <td>{{item.libBulletin}}</td>
                    <td>{{item.mois_pret_prevu}}</td>
                    <td>
                      <div class="d-flex align-items-center">
                        <div class="ms-3">
                          <p class="">{{item.val_pret}}</p>
                        </div>
                      </div>
                    </td>
                    <td>
                      <p class="fw-normal mb-1">{{item.cap_rest}}</p>
                    </td>
                    <td>
                      {{item.val_pret}}
                      
                    </td>
                    <td> {{item.reg_pret}}</td>
                    <td></td>
                  </tr>
               
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
