
<div   class="container-fluid">
    <div class="checkout-tabs">
      <div class="row">
        <div class="col-xl-2 col-sm-3">
          <ul ngbNav #nav="ngbNav" [activeId]="1" class="nav-pills flex-column">
            <li [ngbNavItem]="1">
              <a ngbNavLink>
                <i class="bx bxs-user d-block check-nav-icon mt-4 mb-2"></i>
                <p class="fw-bold mb-4">Information Generale</p>
              </a>
              <ng-template ngbNavContent>
                <div class="container-fluid">
                  <!-- start page title -->
                 
                  <!-- end page title -->
  
                  <div class="row">
                    <div class="col-12">
                      <div class="card">
                        <div class="card-body">
                          <h1 class="card-title" > </h1> <h4 style=color:#2a3042;> Matricule: {{perso11.mat_pers}}</h4>
                          <p class="card-title-desc"> information </p>

                      
                          <ag-grid-angular 
                          style="width: 100%; height: 300px;" 
                          class="ag-theme-alpine"
                          [rowData]="rowData" 
                          [columnDefs]="columnDefs"
                          [defaultColDef]="defaultColDef"
                          [pagination]="true"
                          [rowSelection]="rowSelection"
                      
                          [modules]="modules"
                          (selectionChanged)="onSelectionChanged($event)"
                      
                          (gridReady)="getpers($event)"

                      
                          >
                      </ag-grid-angular>
  
                        </div>
                      </div>
  
                      <div  *ngIf="fiche" class="card">
                        <div class="card-body" >
                          <form>
                            <div class="row">
                              <div class="col-sm-6">
                                <div class="mb-3">
                                  <label for="productname">N°Retraite</label>
                                  <input
                                   [value]="fiche.num_retr"
                                    id="productname"
                                    name="productname"
                                    type="text"
                                    class="form-control"
                                  />
                                </div>
                               
                                <div class="mb-3">
                                    <label for="metakeywords">Assurance </label>
                                    <input
                                      id="metakeywords"
                                      [value]="fiche.cod_assur"
                                      name="manufacturername"
                                      type="text"
                                      class="form-control"
                                    /><input
                                      id="metakeywords"
                                      [value]="fiche.num_assur"
                                      name="manufacturername"
                                      type="text"
                                      class="form-control"
                                    />
                                    <input
                                      disabled
                                      id="metakeywords"
                                      name="manufacturername"
                                      type="text"
                                      class="form-control"
                                    />
                                  </div>
  
                                

  
  
  
  
                              </div>
  
                              <div class="col-sm-6">
                                <div class="mb-3">
                                    <label for="metakeywords"
                                      >Allocation familiale</label
                                    >
                                    <input
                                      *ngIf="fiche.fct_fam == 'O'"
                                      value="Oui"
                                      id="metakeywords"
                                      name="manufacturername"
                                      type="text"
                                      class="form-control"
                                    />
    
                                    <input
                                      *ngIf="fiche.fct_fam == 'N'"
                                      id="metakeywords"
                                      value="Non"
                                      name="manufacturername"
                                      type="text"
                                      class="form-control"
                                    />
                                    <input
                                      *ngIf="fiche.fct_fam == null"
                                      id="metakeywords"
                                      value=""
                                      name="manufacturername"
                                      type="text"
                                      class="form-control"
                                    />
                                  </div>
                                <div  class="mb-3">
                                  <label class="control-label">N°Accident de travail</label>
                                  <input
                                  id="manufacturerbrand"
                                  [value]="fiche.num_acc"
                                  name="manufacturerbrand"
                                  type="text"
                                  class="form-control"
                                />
                                </div>
                              
                           
                            
  
  
                              </div>
  
                            </div>
                            <div class="d-flex flex-wrap gap-2 mt-2">
  
  
                            </div>
                          </form>

                          <div class="col-sm-6 col-md-4 col-xl-3">
                            <div class="my-4 text-center">
                             
                              <!-- Small modal -->
                             <!--  <button type="button" class="btn btn-primary" (click)="smallModal(smallDataModal)">Small
                                modal</button> -->
                            </div>
                          </div>

                          <!-- <ng-template #smallDataModal let-modal>
                            <div class="modal-header">
                              <h5 class="modal-title mt-0">recherche</h5>
                              <button type="button" class="btn-close" (click)="modal.dismiss('Cross click')" aria-hidden="true"></button>
                            </div>
                            <div class="modal-body">
                              <input
                              id="manufacturerbrand"
                              [(ngModel)]="z"
                              name="manufacturerbrand"
                              type="text"
                              class="form-control"
                            />
                            <button
                            id="manufacturerbrand"
                          (click)="getpers()"
                            type="submit"
                            class="btn btn-primary"
                       >chercher</button>
                         
                            </div>
                          </ng-template>
   -->
                      
                        </div>
                      </div>
                    </div>
                  </div>
                  <!-- end row -->
                </div>
                <!-- container-fluid -->
              </ng-template>
            </li>
            <li [ngbNavItem]="2">
              <a ngbNavLink>
                <i class="bx bx-notepad
                d-block check-nav-icon mt-4 mb-2"></i>
                <p class="fw-bold mb-4">Information Generale</p>
              </a>
              <ng-template ngbNavContent>
                <div class="container-fluid">
                    <!-- start page title -->
                 
                    <!-- end page title -->
    
                    <div class="row">
                      <div class="col-12">
                        <div class="card">
                          <div class="card-body">
                            <h1 class="card-title">Consultation Employee </h1> <h4 style=color:#2a3042> Matricule: {{perso11.mat_pers}}</h4>
                            <p class="card-title-desc"> Information </p>
    
                            <form>
                                <div class="row">
                                  <div class="col-sm-6">
                                    <div *ngIf="fiche.cod_sit == 'M'" class="mb-3">
                                      <label for="productname">Situation familiale</label>
                                      <input
                                        *ngIf="fiche.cod_sit == 'M'"
                                        value="Marié"
                                        id="productname"
                                        name="productname"
                                        type="text"
                                        class="form-control"
                                      />
                                      <input
                                        *ngIf="fiche.cod_sit == 'C'"
                                        value="Celebataire"
                                        id="productname"
                                        name="productname"
                                        type="text"
                                        class="form-control"
                                      />
                                      <input
                                        *ngIf="fiche.cod_sit == 'D'"
                                        value="Divorcé"
                                        id="productname"
                                        name="productname"
                                        type="text"
                                        class="form-control"
                                      />
                                      <input
                                        *ngIf="fiche.cod_sit == 'V'"
                                        value="Veufe"
                                        id="productname"
                                        name="productname"
                                        type="text"
                                        class="form-control"
                                      />
                                      <input
                                        *ngIf="fiche.cod_sit == null"
                                        value=""
                                        id="productname"
                                        name="productname"
                                        type="text"
                                        class="form-control"
                                      />
                                    </div>
                                    <div *ngIf="fiche.chef_fam == 'N'" class="mb-3">
                                      <label for="manufacturername"
                                        >Chef famille</label
                                      >
                                      <input
                                        value="Non"
                                        id="manufacturername"
                                        name="manufacturername"
                                        type="text"
                                        class="form-control"
                                      />
                                    </div>
                                    <div *ngIf="fiche.chef_fam == 'O'" class="mb-3">
                                      <label for="manufacturername"
                                        >Chef famille</label
                                      >
                                      <input
                                        value="Oui"
                                        id="manufacturername"
                                        name="manufacturername"
                                        type="text"
                                        class="form-control"
                                      />
                                    </div>
                                    <div
                                      *ngIf="fiche.chef_fam == null"
                                      class="mb-3"
                                    >
                                      <label for="manufacturername"
                                        >Chef famille</label
                                      >
                                      <input
                                        value=""
                                        id="manufacturername"
                                        name="manufacturername"
                                        type="text"
                                        class="form-control"
                                      />
                                    </div>
                                    <div class="mb-3">
                                      <label for="manufacturerbrand"
                                        >Salaire unique
                                      </label>
                                      <input
                                        id="manufacturerbrand"
                                        [value]="fiche.niv_sal"
                                        name="manufacturerbrand"
                                        type="text"
                                        class="form-control"
                                      />
                                    </div>
      
                                    <div class="mb-3">
                                      <label for="price">Nombre d'enfant</label>
                                      <input
                                        [value]="fiche.nbre_enf"
                                        type="text"
                                        class="form-control"
                                      />
                                      <div class="invalid-feedback"></div>
                                    </div>
                                    <div class="mb-3">
                                      <label for="manufacturerbrand"
                                        >Enfant imposable</label
                                      >
                                      <input
                                        id="manufacturerbrand"
                                        [value]="fiche.charg_enf"
                                        name="manufacturerbrand"
                                        type="text"
                                        class="form-control"
                                      />
                                    </div>
                                    <div class="mb-3">
                                      <label class="control-label"
                                        >Etat de sante</label
                                      >
                                      <input
                                        id="manufacturerbrand"
                                        [value]="fiche.typ_handicap"
                                        name="manufacturerbrand"
                                        type="text"
                                        class="form-control"
                                      />
                                    </div>
                                    <div class="mb-3">
                                      <label class="control-label"
                                        >Date effet fiche</label
                                      >
                                      <input
                                        id="manufacturerbrand"
                                        [value]="fiche.dat_eff_fich_hand"
                                        name="manufacturerbrand"
                                        type="text"
                                        class="form-control"
                                      />
                                    </div>
                                  </div>
      
                                  <div class="col-sm-6">
                                    <div class="mb-3">
                                      <label class="control-label"
                                        >Enfant allocataire
                                      </label>
                                      <input
                                        id="manufacturerbrand"
                                        [value]="fiche.charg_all"
                                        name="manufacturerbrand"
                                        type="text"
                                        class="form-control"
                                      />
                                    </div>
                                    <div class="mb-3">
                                      <label class="control-label"
                                        >Etat de sante</label
                                      >
                                      <input
                                        *ngIf="fiche.typ_handicap == '0'"
                                        id="manufacturerbrand"
                                        value="Non Handicapé"
                                        name="manufacturerbrand"
                                        type="text"
                                        class="form-control"
                                      />
                                      <input
                                        *ngIf="fiche.typ_handicap == '1'"
                                        id="manufacturerbrand"
                                        value=" Handicapé"
                                        name="manufacturerbrand"
                                        type="text"
                                        class="form-control"
                                      />
                                      <input
                                        *ngIf="fiche.typ_handicap == '2'"
                                        id="manufacturerbrand"
                                        value=" Handicapé"
                                        name="manufacturerbrand"
                                        type="text"
                                        class="form-control"
                                      />
                                      <input
                                        *ngIf="fiche.typ_handicap == '3'"
                                        id="manufacturerbrand"
                                        value=" Handicapé"
                                        name="manufacturerbrand"
                                        type="text"
                                        class="form-control"
                                      />
                                    </div>
                                    <div class="mb-3">
                                      <label for="manufacturerbrand"
                                        >N° d'identité
                                      </label>
                                      <input
                                        id="manufacturerbrand"
                                        [value]="fiche.cin"
                                        name="manufacturerbrand"
                                        type="text"
                                        class="form-control"
                                      />
                                    </div>
                                    <div class="mb-3">
                                      <label for="manufacturerbrand">Taux IPP </label>
                                      <input
                                        id="manufacturerbrand"
                                        [value]="fiche.pourcent_hand"
                                        name="manufacturerbrand"
                                        type="text"
                                        class="form-control"
                                      />
                                    </div>
                                    <div class="mb-3">
                                      <label for="manufacturerbrand"
                                        >N°Fiche handicap
                                      </label>
                                      <input
                                        id="manufacturerbrand"
                                        [value]="fiche.num_fich_hand"
                                        name="manufacturerbrand"
                                        type="text"
                                        class="form-control"
                                      />
                                    </div>
                                    <div class="mb-3">
                                      <label class="control-label"
                                        >Degré handicap</label
                                      >
                                      <input
                                        *ngIf="fiche.typ_handicap == '0'"
                                        id="manufacturerbrand"
                                        value="Non Handicapé"
                                        name="manufacturerbrand"
                                        type="text"
                                        class="form-control"
                                      />
                                      <input
                                        *ngIf="fiche.typ_handicap == '1'"
                                        id="manufacturerbrand"
                                        value="Handicap Normal"
                                        name="manufacturerbrand"
                                        type="text"
                                        class="form-control"
                                      />
                                      <input
                                        *ngIf="fiche.typ_handicap == '2'"
                                        id="manufacturerbrand"
                                        value="Handicap Proprietaire"
                                        name="manufacturerbrand"
                                        type="text"
                                        class="form-control"
                                      />
                                      <input
                                        *ngIf="fiche.typ_handicap == null"
                                        id="manufacturerbrand"
                                        value=""
                                        name="manufacturerbrand"
                                        type="text"
                                        class="form-control"
                                      />
                                      <input
                                        *ngIf="fiche.typ_handicap == '3'"
                                        id="manufacturerbrand"
                                        value="'Handicap Accompagné'"
                                        name="manufacturerbrand"
                                        type="text"
                                        class="form-control"
                                      />
                                    </div>
                                    <div class="mb-3">
                                      <label for="manufacturerbrand"
                                        >Date effet fin fiche</label
                                      >
                                      <input
                                        id="manufacturerbrand"
                                        [value]="fiche.dat_fin_fich_hand"
                                        name="manufacturerbrand"
                                        type="text"
                                        class="form-control"
                                      />
                                    </div>
                                  </div>
                                </div>
                                <div class="d-flex flex-wrap gap-2 mt-2"></div>
                              </form>
                          </div>
                        </div>
    
                     
                      </div>
                    </div>
                    <!-- end row -->
                  </div>
              
  
              </ng-template>
            </li>
            <li [ngbNavItem]="3">
              <a ngbNavLink>
                <i class="bx bx-badge-check d-block check-nav-icon mt-4 mb-2"></i>
                <p class="fw-bold mb-4">Conjoint</p>

              </a>
              <ng-template ngbNavContent>
                <div class="card">
                  <div class="card-body">
                    <h1 class="card-title">Consultation Employee </h1> <h4 style=color:#2a3042> Matricule: {{perso11.mat_pers}}</h4>

                    <div class="card shadow-none border mb-0">
                      <div class="card-body">
                        <table     class="table">
                          <thead>
                            <tr>
                              <th scope="col">Numero Assurance Conjoint	</th>
                              <th scope="col">Numéro famille	</th>
                              <th scope="col">  Prenom	</th>
                              <th scope="col">	Nom</th>
                              <th scope="col">	Date de naissance</th>
                              <th scope="col">	Date cin</th>
                              <th scope="col">	Date de mariage</th>
                              <th scope="col">	prenom 2eme langue</th>
                              <th scope="col">	Cin</th>
                              <th scope="col">	Lieu Emission</th>
                              <th scope="col">	Nom 2éme langue</th>







                            </tr>
                          </thead>
                          <tbody>
                            <tr *ngFor="let c of cjt" >
                              
                              <td  > {{c.num_ass_conj}}</td>
                              <td>{{c.num_fam}}</td>
                          
                              <td >{{c.prenom}}</td>
                              <td>{{c.nom_jf}}</td>
                              <td>{{c.dat_naiss}}</td>
                              <td>{{c.dat_cin}}</td>
                              <td>{{c.dat_mar}}</td>
                              <td>{{c.prenom_a}}</td>
                              <td>{{c.cin}}</td>
                              <td>{{c.lieu_cin}}</td>
                              <td>{{c.nom_jf_a}}</td>

                            </tr>
                          
                            
                              
                           
                          
                          </tbody>
                        </table>
                       
                       


  
                  </div>
                    </div>
  
                  </div>
                </div>
              
              </ng-template>
            </li>
            <li [ngbNavItem]="4">
                <a ngbNavLink>
                  <i class="bx bx-add-to-queue
                  -check d-block check-nav-icon mt-4 mb-2"></i>
                  <p class="fw-bold mb-4">Enfant</p>
                </a>
                <ng-template ngbNavContent>
                    <div class="container-fluid">
                        <!-- start page title -->
        
                        <!-- end page title -->
        
                        <div class="row">
                          <div class="col-12">
                            <div class="card">
                              <div class="card-body">
                                <h1 class="card-title">Consultation Employee </h1> <h4 style=color:#2a3042> Matricule: {{perso11.mat_pers}}</h4>
                                <p class="card-title-desc"> information </p>
        
                                <table  class="table">
                                  <thead>
                                    <tr>
                                      <th >Numero de famille</th>
                                      <th >type</th>
                                      <th>Prenom</th>
                                      <th >Nom</th>
                                      <th >Date de Naissance</th>
                                      <th >Date fin fiche handicap</th>

                                      <th >Date Cin</th>
                                      <th >Date décé</th>
                                      <th >Lieu de naissance</th>
                                      <th >Boursier</th>
                                      <th>Etat</th>
                                      <th >Sexe</th>
                                      <th >Numero fiche</th>












                                    </tr>
                                  </thead>
                                  <tbody>
                                    <tr *ngFor="let item of enfant">
                                      <th >{{item.num_fam}}</th>
                                      <td>{{item.typ_membre}}</td>
                                      <td>{{item.prenom}}</td>
                                      <td>{{item.nom_jf}}</td>
                                      <th >{{item.dat_naiss}}</th>
                                      <td>{{item.dat_fin_fich_hand}}</td>
                                      <td>{{item.dat_cin}}</td>
                                      <td>{{item.dat_dece}}</td>
                                      <th >{{item.lieu_naiss}}</th>
                                      <td>{{item.boursier}}</td>
                                      <td>{{item.etat_fam}}</td>
                                      <th >{{item.sexe}}</th>
                                      <td>{{item.num_fich_hand}}</td>
                                    </tr></tbody></table>
                              </div>
                            </div>
        
                            
                          </div>
                        </div>
                        <!-- end row -->
                      </div>
                      <!-- container-fluid -->
                    </ng-template>
                  </li>
                  <li [ngbNavItem]="6">
                    <a ngbNavLink>
                      <i class="bx bx-file-blank
                      d-block check-nav-icon mt-4 mb-2"></i>
                      <p class="fw-bold mb-4">Scolarité Enfant</p>
                    </a>
                    <ng-template ngbNavContent>
                        <div class="container-fluid">
                            <!-- start page title -->
            
                            <!-- end page title -->
            
                            <div class="row">
                              <div class="col-12">
                                <div class="card">
                                  <div class="card-body">
                                    <h1 class="card-title">Consultation Employee </h1> <h4 style=color:#2a3042> Matricule: {{perso11.mat_pers}}</h4>
                                    <p class="card-title-desc"> Information </p>
                                    <table class="table">
                                        <thead>
                                          <tr>
                                            <th scope="col">Prenom</th>
                                            <th scope="col">Nom</th>
                                            <th scope="col">Sexe</th>
                                            <th scope="col">Date de naissance</th>
                                            <th scope="col">Date fin Indemnité</th>

                                           





                                          </tr>
                                        </thead>
                                        <tbody>
                                          <tr *ngFor="let item of famsoc">
                                            <td>{{item.libprenom}}</td>
                                            <td>{{item.libnomjf}}</td>
                                            <td>{{item.libsexe}}</td>
                                            <td>{{item.libdat_naiss}}</td>


                                            <td>{{item.date_ind_fin}}</td>

                                          

                                          </tr>
                                         
                                        
                                        </tbody>
                                      </table>
                                   <!--<app-exprienceprof></app-exprienceprof>-->
                                  </div>
                                </div>
            
                                
                              </div>
                            </div>
                            <!-- end row -->
                          </div>
                          <!-- container-fluid -->
                        </ng-template>
                      </li>
                      <li [ngbNavItem]="5">
                        <a ngbNavLink>
                          <i class="bx bx-italic
                          -check d-block check-nav-icon mt-4 mb-2"></i>
                          <p class="fw-bold mb-4">Affiliation</p>
                        </a>
                        <ng-template ngbNavContent>
                            <div class="container-fluid">
                                <!-- start page title -->
                
                                <!-- end page title -->
                
                                <div class="row">
                                  <div class="col-12">
                                    <div class="card">
                                      <div class="card-body">
                                        <h1 class="card-title">Consultation Employee </h1> <h4 style=color:#2a3042> Matricule: {{perso11.mat_pers}}</h4>
                                        <p class="card-title-desc"> Information </p>
                
                                        <table class="table">
                                            <thead>
                                              <tr>
                                                <th scope="col">Code affiliation</th>
                                                <th scope="col">Libelle</th>
                                                <th scope="col">Date Affiliation</th>
                                                <th scope="col">Date fin</th>
                                                <th scope="col">Numero Affiliation</th>
                                                <th scope="col">id Affiliation personnel</th>

    
                                               
    
    
    
    
                                              </tr>
                                            </thead>
                                            <tbody>
                                              <tr *ngFor="let item of aff">
                                                <td>{{item.cod_affil}}</td>
                                                <td>{{item.typ_affil}}</td>
                                                <td>{{item.dat_Affil}}</td>
                                                <td>{{item.date_fin}}</td>
                                                <td>{{item.num_affil}}</td>
                                                <td>{{item.id_affil_pers}}</td>


    
    
                                               
    
                                              </tr>
                                             
                                            
                                            </tbody>
                                          </table>
                                      </div>
                                    </div>
                
                                    
                                  </div>
                                </div>
                                <!-- end row -->
                              </div>
                              <!-- container-fluid -->
                            </ng-template>
                          </li>
          </ul>
        </div>
        <div class="col-lg-10">
          <div [ngbNavOutlet]="nav"></div>
        </div>
      </div>
    </div>
  </div>
  