.ag-theme-alpine {


    --ag-foreground-color: rgb(27, 18, 28);
    --ag-background-color: rgb(241, 241, 241);
  //  --ag-header-foreground-color: #f8faff;
    --ag-header-background-color: #bee5eb;
   // --ag-odd-row-background-color: #bee5eb;
    --ag-header-column-resize-handle-color: rgb(41, 24, 45);


    --ag-font-size: 17px;
    --ag-font-family: monospace;
}
