<div class="container-fluid">
    <!-- start page title -->

    <!-- end page title -->

    <div class="row">
      <div class="col-12">
        <div class="card">
          <div class="card-body">
            <h1 class="card-title">Consultation Employee </h1> <h4 style=color:#2a3042;> Matricule: {{mat_pers}}</h4>
            
           

          
          </div>
        </div>

        <div class="card">
          <div class="card-body">
            <app-aggridobjagent></app-aggridobjagent>


           
      
          </div>
        </div>
      </div>
    </div>
    <!-- end row -->
  </div>